---
# Only the main Sass file needs front matter (the dashes are enough)
assets: '/assets/'
---
@charset "utf-8";



// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   2rem;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.33334;

$spacing-unit:     4rem;

$text-color:       #111;
$background-color: #fdfdfd;
$accent-color:     #ffff43;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

// Paths
$path-assets:      '{{ site.baseURL }}{{ page.assets }}';


// Media query breakpoints
$screen-xs:        420px;  // x-small
$screen-sm:        768px;  // small
$screen-md:        1080px; // medium
$screen-lg:        1440px; // large
$screen-rt:        1920px; // retina

// Placeholder
@mixin scrollbar($thumb: $accent-color, $track: rgba(0,0,0,.15)) {
  &::-webkit-scrollbar       { width: 1rem; }
  &::-webkit-scrollbar-track { background-color: $track; }
  &::-webkit-scrollbar-thumb { background-color: $thumb; }
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "base",
  "layout",
  "search",
  "buttons",
  "baguetteBox",
  "cards",
  "modals",
  "video-snippet"
;
