<header class="header-gallery {% unless include.gallery == empty %}no-cover{% endunless %}">
  {% if include.gallery != empty %}
  <div class="leaf-cover with-gallery baguette-gallery">
    {% for foto in include.gallery %}
      {% assign fotoURL = site.baseurl | append: '/assets/photos/' | append: foto %}
      <a href="{{ fotoURL }}">
        <img src="{{ fotoURL }}">
        <!-- Caption here -->
      </a>
    {% endfor %}
  </div>
  {% endif %}

  {% include breadcrumbs.html %}

  <h1 class="leaf-title">
    <span>{{ page.nume }}</span> 
  </h1>
</header>
