{% if page.excerpt %}
  {% assign description = page.excerpt %}
{% elsif page.description %}
  {% assign description = page.description %}
{% else %}
  {% assign description = site.description %}
{% endif %}

{% if page.ogimage%}
  {% assign ogimage = page.ogimage %}
{% else %}
  {% assign ogimage = site.url | append: '/dancecloud-ogimage.jpg' %}
{% endif %}
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }} | {% endif %}{{ site.title | escape }}</title>
  <meta name="description" content="{{ description | escape }}">

  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ page.url }}" /> <!-- absolute path -->
  <meta property="og:title" content="{% if page.title %}{{ page.title | escape }} | {% endif %}{{ site.title | escape }}" />
  <meta property="og:description" content="{{ description | escape }}" />
  <meta property="og:image" content="{{ ogimage }}" /> <!-- absolute path -->

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
</head>
