<div class="navmenu">
  <div class="navmenu-header">
    <a class="navmenu-logo" href="{{ site.baseurl }}/">
      <img src="{{ site.baseurl }}/assets/logo-dancecloud-inverted@2x.png"
           alt="DanceCloud.ro Logo"
           width="222" height="30">
    </a>
    <button class="navmenu-toggle">
      ☰
      <!-- × -->
      <span class="sr-only">Navigare</span>
    </button>
  </div>

  <div class="navmenu-body">
    <p class="navmenu-description">
      {{ site.description }}
      <a href="#todo-about">Despre proiect</a>
    </p>

    <nav class="navmenu-nav">
      <a href="">
        Ieri  
      </a>
      <a href="">
        Azi
      </a>
      <a href="">
        Mâine
      </a>
    </nav>
  </div>

  <div class="navmenu-footer">
    <div class="navmenu-footer-links">
      <a href="">Contact</a>
      &emsp;
      <a href="">Termeni și condiții</a>
    </div>
    <div class="navmenu-credits">
      Un proiect <a href="#todo-cndb" title="Despre Centrul Național al Dansului">CNDB</a>
      <a href="http://www.cndb.ro/" class="logo-cndb"
         title="Centrul Național al Dansului">
        <img src="{{ site.baseurl }}/assets/logo-cndb-inverted@2x.png"
             alt="Logo Centrul Național al Dansului"
             width="176" height="70">
      </a>
      <br>
      finanțat în cadrul programului
      <span class="no-br">“București – Oraș participativ”</span>
      <br>
      <a href="http://pmb.ro/" class="logo-pmb"
         title="Primăria Municipiului București" rel="external">
        <img src="{{ site.baseurl }}/assets/logo-pmb-inverted@2x.png"
             alt="Logo Primăria Municipiului București"
             width="122" height="50">
      </a>
      <a href="https://arcub.ro/" class="logo-arcub"
         title="ARCUB" rel="external">
        <img src="{{ site.baseurl }}/assets/logo-arcub-mono-inverted@2x.png"
             alt="Logo ARCUB"
             width="86" height="50">
      </a>
    </div>
  </div>
</div>
