// Has been modified
/*!
 * baguetteBox.js
 * @author  feimosi
 * @version %%INJECT_VERSION%%
 * @url https://github.com/feimosi/baguetteBox.js
 */

.navmenu-description,
.navmenu-toggle,
.navmenu-body,
.navmenu-footer {
  transition: opacity .5s;
  will-change: opacity;
}

body.baguetteBox-open { 
  overflow: hidden;

  .navmenu-toggle,
  .navmenu-description,
  .navmenu-body,
  .navmenu-footer {
    opacity: 0;
  }
}

#baguetteBox-overlay {
  display: none;
  opacity: 0;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: #222;
  background: linear-gradient(to top right, #000, rgba(0,0,0,.2) 50%);
  transition: opacity .5s ease;

  &::before {
    content: '';
    width: 36rem;
    height: 7rem;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    background: url('#{$path-assets}/logo-dancecloud-inverted@2x.png');
    background-position: 2rem;
    background-size: 22.2rem 3rem;
    background-repeat: no-repeat;
  }

  &.visible {
    opacity: 1;
  }

  .full-image {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
    text-align: center;
    box-sizing: border-box;
    padding: 1rem;

    figure {
      display: inline;
      margin: 0;      // needed for mobile
      height: 100%;   // Opera 12 image stretching fix
    }

    img {
      // IE8 fix
      display: inline-block;
      width: auto;
      height: auto;

      max-height: 100%;
      max-width: 100%;
      vertical-align: middle;

      @supports (object-fit: contain) {
        width: 100%;
        height: calc(100% - 7rem); // show a bit of caption
        object-fit: contain;
      }
    }

    figcaption {
      display: block;
      white-space: normal;
      color: #fff;
      text-align: left;

      @include scrollbar;
    }

    // Alignment trick. Nice!
    // &:before {
    //   content: "";
    //   display: inline-block;
    //   height: 50%;
    //   width: 1px;
    //   margin-right:-1px;
    // }
  }

  @media (max-width: $screen-md - 1) {
    .full-image {
      padding-top: 9rem; // height of close button + spacing

      figcaption {
        margin: 2rem 0;
      }
    }
  }

  @media (min-width: $screen-md) {
    .full-image {
      padding: 0;
      overflow: hidden;

      img {
        float: right;
        height: 100vh;
        width: calc(100vw - 36rem);
      }

      figcaption {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 36rem;
        box-sizing: border-box;
        padding: 2rem;
        padding-top: 9rem;
        overflow: auto;
        will-change: color;
        transition: color 1s;
        transition-delay: .2s;
        color: rgba(255,255,255,0);
      }
      &.is-focused {
        figcaption {
          color: #fff;
        }
      }
    }
  }
}

#baguetteBox-slider {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  white-space: nowrap;
  transition: left .4s ease, transform .4s ease;

  &.bounce-from-right {
    animation: bounceFromRight .4s ease-out;
  }

  &.bounce-from-left {
    animation: bounceFromLeft .4s ease-out;
  }

  @media (min-width: $screen-md) {
    // left: 36rem;
  }
}

@keyframes bounceFromRight{
  0% { margin-right: 0; }
  50% { margin-right: 30px; }
  100% { margin-right: 0; }
}

@keyframes bounceFromLeft{
  0% { margin-right: 0; }
  50% { margin-right: -30px; }
  100% { margin-right: 0; }
}

%arrow-button {
  top: 50%;
  top: calc(50% - 2.5rem);
}

.baguetteBox-button {
  position: absolute;
  cursor: pointer;
  outline: none;
  width: 7rem;
  height: 7rem;
  margin: 0;
  padding: 2rem;
  border: 0;
  border-radius: 0;
  color: #fff;
  font: 1.6em sans-serif;
  background: transparent;
  transition: background-color .4s ease;

  polyline,
  line,
  path {
    stroke: #fff;
    stroke: currentcolor;
  }

  &:focus,
  &:hover {
  }

  &#next-button {
    @extend %arrow-button;
    right: 0;
  }

  &#previous-button {
    @extend %arrow-button;
    left: 0;
    @media (min-width: $screen-md) {
      left: 36rem;
    }
  }

  &#close-button {
    top: 0;
    right: 0;
  }
}

/*
    Preloader
    Borrowed from http://tobiasahlin.com/spinkit/
*/

.baguetteBox-spinner {
  width: 40px;
  height: 40px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px;
}

.baguetteBox-double-bounce1,
.baguetteBox-double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  opacity: .6;
  position: absolute;
  top: 0;
  left: 0;
  animation: bounce 2s infinite ease-in-out;
}

.baguetteBox-double-bounce2 {
  animation-delay: -1s;
}

@keyframes bounce {
  0%, 100% {
    transform: scale(0);
  } 50% {
    transform: scale(1);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.baguette-gallery {
  a {
    display: inline-block;
    height: 100%;
    outline: none;
    img {
      height: 100%;
      width: auto;
    }
    &:focus {
      img {
        outline: .5rem solid $accent-color;
        outline-offset: -.5rem;
      }
    }
  }
}
