/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}


/**
 * Basic styling
 */
:root {
  font-size: 10px;
}

body {
  font-family: $base-font-family;
  font-size: 1.8rem;
  line-height: 1.33334;
  letter-spacing: .02em;
}

h1, .h1 { font-size: 6.4rem; }
h2, .h2 { font-size: 4.8rem; }
h3, .h3 { font-size: 3.6rem; }
h4, .h4 { font-size: 2.6rem; }
h5, .h5 { font-size: 2rem;   }
h6, .h6 { font-size: 1.8rem; }

@media (max-width: $screen-sm - 1) {
  
  body {
    font-size: 1.5rem;
  }

  h1, .h1 { font-size: 4.8rem; }
  h2, .h2 { font-size: 3.6rem; }
  h3, .h3 { font-size: 2.6rem; }
  h4, .h4 { font-size: 2rem;   }
  h5, .h5 { font-size: 1.8rem; }
  h6, .h6 { font-size: 1.5rem; }
}

.page-content p {
  max-width: 32em;
}

@media (min-width: $screen-sm) {
  .paragraph-columns {
    column-count: 2;
    column-gap: 2rem;
  }
  .paragraph-columns p {
    max-width: none;
  }
}
@media (min-width: $screen-rt) {
  .paragraph-columns {
    column-count: 3;
  }
}

small,
.small {
  font-size: 1.5rem;
}

.hardlink,
.hardlinks a {
  display: inline-block;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  padding-left: .25em;
  padding-right: .25em;
  text-overflow: ellipsis;
  background: darkblue;
  color: #fff;
  vertical-align: top;

  &:visited {
    background: purple;
    color: #fff;
  }

  &:hover {
    background: blue;
    color: #fff;
  }
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  max-width: 32em;
}


/**
 * Links
 */
a {
  color: mediumblue;
  text-decoration: none;
  &:visited {
    color: mediumblue;
  }
  &:hover {
    // text-decoration: underline;
  }
}



/**
 * Blockquotes
 */
blockquote {
  max-width: 24em;
  font-size: 3rem;

  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: 2rem;

  color: gray;
  border-left: .5rem solid $grey-color-light;
  padding-left: $spacing-unit / 2;

  > :last-child {
      margin-bottom: 0;
  }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */
.wrapper {
    // max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    // max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
    @extend %clearfix;

    @media (min-width: $screen-md) {
      padding-right: $spacing-unit;
      padding-left: $spacing-unit;
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}


/**
 * Utils
 */
.uppercase {
  text-transform: uppercase;
}
.text-right {
  text-align: right;
}

.no-br {
  white-space: nowrap;
}

.sr,
.sr-only { 
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; width: 1px; 
  margin: -1px; padding: 0; border: 0; 
}
