/**
 * Navmenu
 */

.navmenu {
  box-sizing: border-box;
  background: #000;
  color: #fff;
}
.navmenu a {
  font-weight: 600;
}

/* navmenu-header */
.navmenu-header::after {
  content: '';
  display: block;
  clear: both;
}
.navmenu-logo {
  padding: 2rem;
  float: left;
}
.navmenu-toggle {
  float: right;
  padding: 2rem;
  border: 0;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1;
  color: #fff;
  background: transparent;
}

/* navmenu-body */
.navmenu-body {
  padding: 2rem;
}
.navmenu-description {
  font-weight: 600;
}
.navmenu-description a {
  color: #FFFF43;
}
.navmenu-nav > a {
  display: block;
  padding: 1rem 2rem;
  line-height: 4rem;
  font-size: 3.6rem;
  color: #fff;
}
.navmenu-nav > a:hover {
  color: #FFFF43;
}

/* navmenu-footer */
.navmenu-footer {
  padding: 1rem 2rem;
  font-size: 1.3rem;
}
.navmenu-footer a {
  color: inherit;
}
.navmenu-footer a:hover {
  color: #FFFF43;
}
.navmenu-footer-links {
  margin-top: -2rem;
}
.navmenu-footer-links::before,
.navmenu-footer-links::after {
  margin-bottom: 1.5rem;
  content: "";
  display: block;
  height: .3rem;
  width: 10rem;
  background: #FFFF43;
}
.navmenu-footer-links::after {
  margin-top: 1.5rem;
}
.navmenu-credits {
  vertical-align: bottom;
}
.navmenu-credits a {
  display: inline-block;
  color: #FFFF43;
  vertical-align: bottom;
}
.navmenu-credits img {
  margin: 1rem;
  vertical-align: bottom;
}
.navmenu-credits .logo-arcub {
  margin-left: -1rem;
}

@supports (display: flex) {
  .navmenu {
    display: flex;
    flex-direction: column;
  }
  .navmenu-body {
    flex-grow: 1;
  }
}
@media (max-width: 1079px) {
  .navmenu-body,
  .navmenu-footer {
    display: none;
  }
  .navmenu.is-open {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  .navmenu.is-open .navmenu-body,
  .navmenu.is-open .navmenu-footer {
    display: block;
  }
  .navmenu-is-open {
    overflow: hidden;
  }
  .navmenu-toggle::before {
    content: '☰';
  }
  .navmenu.is-open .navmenu-toggle::before {
    content: '×'
  }
}

@media (min-width: 1080px) {
  body {
    margin-left: 360px;
  }
  .navmenu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: auto;
    width: 360px;
  }
  .navmenu-toggle { display: none; }
}


/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
    overflow-x: hidden;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

/**
 * Numbered category cards
 */
.list-categories {
  list-style: none;
  margin: 2rem auto;
  padding-left: 0;
  counter-reset: category;
}
.list-categories > li {
  float: left;
}
@media (max-width: 1079px) {
  .list-categories {
    overflow: hidden;
    margin-left: -2rem;
    margin-right: -2rem;
  }
  .list-categories > li {
    margin: 0 2rem 4rem;
  }
}
@media (min-width: 1080px) {
  .list-categories {
    margin-left: -4rem;
    margin-right: -4rem;
  }
  .list-categories > li {
    margin-right: 4rem;
    margin-bottom: 4rem;
  }
}
.category {
  counter-increment: category;
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 36rem;
  max-width: 100%;
  

  color: #fff;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.category::before {
  content: '';
  display: block;
  padding-bottom: 100%; 
}
.category::after {
  content: counter(category, decimal-leading-zero);
  font-size: 12rem;
  font-weight: 900;
  line-height: 1;
  position: absolute;
  bottom: -.2em;
  right: -.2em;
  color: #FFFF43;
  opacity: .9;
  user-select: none;
}
.category-label {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  right: 4rem;
  font-size: 3.6rem;
  font-weight: 900;
  line-height: 4rem;
  color: #fff;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
