---
layout: default
breadcrumbs:
  Home: "/"
  Azi: "/azi/"
  Artiști: "../"
---

<article>

{% include header-artist.html cover=page.foto %}

<div class="leaf-social-media">
{% for media in page.social-media %}
  {% assign url = media.value %}
  {% unless media.value contains 'http' %}
    {% assign url = media.value | prepend:'https://' %}
  {% endunless %}

  <a href="{{ url }}" rel="external">
    {% if media.type == 'facebook' %}
      <img src="{{ site.baseurl }}/assets/icon-facebook@2x.png"
           alt="Pictogramă Facebook"
           width="90" height="90" />
    {% elsif media.type == 'website' %}
      <img src="{{ site.baseurl }}/assets/icon-www@2x.png"
           alt="Pictogramă pagină web"
           width="90" height="90" />
    {% else %}
    {% endif %}
  </a>
{% endfor %}

{% for label in page.sectiune %}
  <span class="tag">{{ label }}</span>
{% endfor %}
</div>



<dl class="dl">
  <dt>Bio</dt>
  <dd>
    {{ page.bio }}
  </dd>

  {% if page.proiecte != empty %}
  <dt>Proiecte</dt>
  <dd>
    {{ page.proiecte }}
  </dd>
  {% endif %}

  {% if page.proiecte_viitoare != empty %}
  <dt>Proiecte viitoare</dt>
  <dd>{{ page.proiecte_viitoare | default: "–" }}</dd>
  {% endif %}

  <!-- Presă -->
  {% if page.presa != empty %}
  <dt>Presă</dt>
  {% for presa in page.presa %}
  <dd>
    <a href="{{ presa }}">{{ presa }}</a>
  </dd>
  {% endfor %}
  {% endif %}

  <!-- Contact -->
  {% if page.contact != empty %}
  <dt>Contact</dt>
  {% for contact in page.contact %}
  <dd>
    {% if contact.type == "email" %}
      <a href="mailto:{{ contact.value }}">{{ contact.value }}</a>
    {% elsif contact.type == "telefon" %}
      <a href="tel:{{ contact.value }}">{{ contact.value }}</a>
    {% else %}
      {{ contact.value }}
    {% endif %}
  </dd>
  {% endfor %}
  {% endif %}
</dl>
</article>
