---
layout: default
breadcrumbs:
  Home: "/"
  Azi: "/azi/"
  Festivaluri: "../"
---

{% include header-default.html cover=page.foto_afis %}

<dl class="dl">
  {% if page.descriere %}
  <dt>Descriere</dt>
  <dd>
    {{ page.descriere }}
  </dd>
  {% endif %}

  {% if page.organizatori %}
  <dt>Organizatori</dt>
  <dd>
    {{ page.organizatori }}
  </dd>
  {% endif %}

  {% if page.website %}
  <dt>Website</dt>
  <dd class="hardlinks">
    <a href="{{ page.website }}">{{ page.website }}</a>
  </dd>
  {% endif %}

</dl>
