---
layout: default
breadcrumbs:
  Home: "/"
  Azi: "/azi/"
  Publicații: "../"
---

{% include header-default.html cover=page.foto_coperta %}

<dl class="dl">
  {% if page.descriere %}
  <dt>Descriere</dt>
  <dd>
    {{ page.descriere }}
    {% if page.descriere_sursa %}
    <br> {{ page.descriere_sursa }}
    {% endif %}
  </dd>
  {% endif %}

  {% if page.autor %}
  <dt>Autor</dt>
  <dd>
    {{ page.autor }}
  </dd>
  {% endif %}

  {% if page.editura and page.editura != empty %}
  <dt>Editura</dt>
  <dd>
    {{ page.editura }}
  </dd>
  {% endif %}

  {% if page.data_publicarii %}
  <dt>Data publicării</dt>
  <dd>
    {{ page.data_publicarii }}
  </dd>
  {% endif %}
</dl>

