---
layout: default
---


{{ page.fotografii }}
{{ page.documente_foto }}


<h1 class="leaf-title">
    <span>{{ page.nume }}</span>
</h1>

<dl class="dl">
    <dt>Descriere</dt>
    <dd>
        {{ page.descriere }}
    </dd>

    <dt>Fondat</dt>
    <dd>
        {{ page.fondat }}
    </dd>

    <dt>Fondatori</dt>
    <dd>
        {{ page.fondatori }}
    </dd>

    <dt>Membri</dt>
    <dd>
        {{ page.membri }}
    </dd>

    <dt>Istoric</dt>
    <dd>
        {{ page.istoric }}
    </dd>

    <dt>Spectacole</dt>
    {% for spectacol in page.spectacole %}
    <dd>
        {{ spectacol }}
    </dd>
    {% endfor %}

    <dt>Bibliografie</dt>
    <dd>
        {{ page.bibliografie }}
    </dd>

</dl>
