---
layout: default
breadcrumbs:
  Home: "/"
  Ieri: "/ieri/"
  Colective: "../"
---

{% include header-gallery.html gallery=page.fotografii %}

<dl class="dl">
  {% if page.fondat and page.fondat != empty %}
    <dt>Fondat</dt>
    <dd>
        {{ page.fondat }}
    </dd>
  {% endif %}

  {% if page.fondatori and page.fondatori != empty %}
    <dt>Fondatori</dt>
    <dd>
        {{ page.fondatori }}
    </dd>
  {% endif %}

  {% if page.membri and page.membri != empty %}
    <dt>Membri</dt>
    <dd>
      {{ page.membri }}
    </dd>
  {% endif %}

  {% if page.istoric and page.istoric != empty %}
    <dt>Istoric</dt>
    <dd>
      {{ page.istoric }}
    </dd>
  {% endif %}


  {% if page.spectacole and page.spectacole != empty %}
  <dt>Spectacole</dt>
  <dd>
    <ul>
    {% for spectacol in page.spectacole %}
      <li>{{ spectacol }}</li>
    {% endfor %}
    </ul>
  </dd>
  {% endif %}

  {% if page.bibliografie and page.bibliografie != empty %}
    <dt>Bibliografie</dt>
    <dd>
      <ul>
        {% for bibliografie in page.bibliografie %}
          <li>{{ bibliografie }}</li>
        {% endfor %}
      </ul>
    </dd>
  {% endif %}

  {% if page.documente_foto != empty %}
  <dt>Documente foto</dt>
  <dd class="full-dd">
    <div class="dd-gallery baguette-gallery">
      {% for foto in page.documente_foto %}
      {% assign fotoURL = site.baseurl | append: '/assets/photos/' | append: foto %}
      <a href="{{ fotoURL }}">
        <img src="{{ fotoURL }}">
      </a>
      {% endfor %}
    </div>
  </dd>
  {% endif %}

</dl>

<link href="{{ "/css/baguetteBox.min.css" }}" rel="stylesheet" >
<script src="{{ "/js/baguetteBox.min.js" }}"></script>
<script>
  (function() {
    baguetteBox.run('.baguette-gallery');
  }())
</script>
