---
layout: default
breadcrumbs:
  Home: "/"
  Ieri: "/ieri/"
  Oameni ai dansului: "../"
---

{% include header-gallery.html gallery=page.fotografii %}

<dl class="dl">
  {% if page.bio != empty %}
  <dt>Bio</dt>
  <dd>
    {{ page.bio | markdownify }}
  </dd>
  {% endif %}

  {% if page.spectacole and page.spectacole != empty %}
  <dt>Spectacole</dt>
  <dd>
    <ul>
    {% for spectacol in page.spectacole %}
      <li>{{ spectacol }}</li>
    {% endfor %}
    </ul>
  </dd>
  {% endif %}

  {% if page.bibliografie and page.bibliografie != empty %}
    <dt>Bibliografie</dt>
    <dd>
      <ul>
        {% for bibliografie in page.bibliografie %}
          <li>{{ bibliografie }}</li>
        {% endfor %}
      </ul>
    </dd>
  {% endif %}

  {% if page.documente_foto and page.document_foto != empty %}
  <dt>Documente foto</dt>
  <dd class="full-dd">
    <div class="dd-gallery baguette-gallery">
      {% for foto in page.documente_foto %}
      {% assign fotoURL = site.baseurl | append: '/assets/photos/' | append: foto %}
      <a href="{{ fotoURL }}">
        <img src="{{ fotoURL }}">
      </a>
      {% endfor %}
    </div>
  </dd>
  {% endif %}
</dl>
