---
layout: default
breadcrumbs:
  Home: "/"
  Ieri: "/ieri/"
  Oameni ai dansului: "../"
---

{% include header-gallery.html gallery=page.fotografii %}

<dl class="dl">
  {% if page.descriere != empty %}
  <dt>Descriere</dt>
  <dd>
    {{ page.descriere }}
  </dd>
  {% endif %}

  {% if page.bio != empty %}
  <dt>Bio</dt>
  <dd>
    {{ page.bio }}
  </dd>
  {% endif %}

  {% if page.spectacole != empty %}
    <dt>Spectacole</dt>
    {% for spectacol in page.spectacole %}
    <dd>
      {{ spectacol }}
    </dd>
    {% endfor %}
  {% endif %}
</dl>

