---
layout: default
breadcrumbs:
  Home: "/"
  Ieri: "/ieri/"
  Colective: "../"
---

{% include header-gallery.html gallery=page.fotografii %}

<dl class="dl">
  {% if page.fondat and page.fondat != empty %}
    <dt>Fondat</dt>
    <dd>
        {{ page.fondat }}
    </dd>
  {% endif %}

  {% if page.fondatori and page.fondatori != empty %}
    <dt>Fondatori</dt>
    <dd>
        {{ page.fondatori }}
    </dd>
  {% endif %}

  {% if page.membri and page.membri != empty %}
    <dt>Membri</dt>
    <dd>
      {{ page.membri }}
    </dd>
  {% endif %}

  {% if page.istoric and page.istoric != empty %}
    <dt>Istoric</dt>
    <dd>
      {{ page.istoric }}
    </dd>
  {% endif %}


  {% if page.spectacole and page.spectacole != empty %}
  <dt>Spectacole</dt>
  <dd>
    {% include truncated-list.html id="list-spectacole" list=page.spectacole %}
  </dd>
  {% endif %}

  {% if page.bibliografie and page.bibliografie != empty %}
    <dt>Bibliografie</dt>
    <dd>
      {% include truncated-list.html id="list-bibliografie" list=page.bibliografie %}
    </dd>
  {% endif %}

  {% if page.documente_foto != empty %}
  <dt>Documente foto</dt>
  <dd class="full-dd">
    <div class="dd-gallery baguette-gallery">
      {% include baguetteBox.html photos=page.documente_foto %}
    </div>
  </dd>
  {% endif %}

</dl>

