---
layout: default
breadcrumbs:
  Home: "/"
  Ieri: "/ieri/"
  Coregrafi/Dansatori: "../"
---



{% if page.fotografii != empty %}
<div class="leaf-cover with-gallery">
  
  {% for foto in page.fotografii %}
    <img src="{{ site.baseurl }}/assets/photos/{{ foto }}">
  {% endfor %}

</div>
{% endif %}


{% include breadcrumbs.html %}

<h1 class="leaf-title">
  <span>{{ page.nume }}</span>
</h1>

<dl class="dl">
  {% if page.bio != empty %}
  <dt>Bio</dt>
  <dd>
    {{ page.bio | markdownify }}
  </dd>
  {% endif %}

  {% if page.spectacole and page.spectacole != empty %}
  <dt>Spectacole</dt>
  <dd>
    <ul class="small">
    {% for spectacol in page.spectacole %}
      <li>{{ spectacol }}</li>
    {% endfor %}
    </ul>
  </dd>
  {% endif %}

  {% if page.bibliografie and page.bibliografie != empty %}
    <dt>Bibliografie</dt>
    <dd>
      <ul class="small">
        {% for bibliografie in page.bibliografie %}
          <li>{{ bibliografie }}</li>
        {% endfor %}
      </ul>
    </dd>
  {% endif %}

  {% if page.documente_foto and page.documente_foto != empty %}
  <dt>Documente foto</dt>
  <dd class="full-dd">
    <div class="dd-gallery">
      {% for foto in page.documente_foto %}
        <img src="{{ site.baseurl }}/assets/photos/{{ foto }}">
      {% endfor %}
    </div>
  </dd>
  {% endif %}
</dl>
