---
layout: default
---

<article>
<header class="{% unless page.foto %}no-cover{% endunless %}">
  {% if page.foto %}
  {% assign cover = '/assets/photos/' | 
     prepend: site.baseurl | 
     append: page.foto %}
  <div class="leaf-cover">
    <div class="leaf-cover-mask" data-bg="{{ cover }}">
      <span class="leaf-cover-bg" 
            style="background-image: url('{{ cover }}')"></span>
      <img src="{{ cover }}">
    </div>
  </div>
  {% endif %}

  <h1 class="leaf-title">
    <span>{{ page.nume }}</span> 
  </h1>
</header>

{{ content }}
</article>
