---
layout: default
---



{% assign cover = '/assets/photos/' |
   prepend: site.baseurl |
   append: page.foto %}
<div class="leaf-cover">
  <div class="leaf-cover-mask" data-bg="{{ cover }}">
    <span class="leaf-cover-bg"
          style="background-image: url('{{ cover }}')"></span>
    <img src="{{ cover }}">
  </div>
</div>

<h1 class="leaf-title">
  <span>{{ page.denumire }}</span>
</h1>

<div class="leaf-social-media">
{% for media in page.social-media %}
  {% assign url = media.value %}
  {% unless media.value contains 'http' or
            media.value contains 'www.' %}
    {% assign url = media.value | prepend:'https://' %}
  {% endunless %}

  <a href="{{ url }}" rel="external">
    {% if media.type == 'facebook' %}
      <img src="{{ site.baseurl }}/assets/icon-facebook@2x.png"
           alt="Pictogramă Facebook"
           width="90" height="90" />
    {% elsif media.type == 'website' %}
      <img src="{{ site.baseurl }}/assets/icon-www@2x.png"
           alt="Pictogramă pagină web"
           width="90" height="90" />
    {% else %}
    {% endif %}
  </a>
{% endfor %}
</div>

<dl class="dl">
  <dt>Descriere</dt>
  <dd>
    {{ page.descriere }}
  </dd>

  <dt>Proiecte</dt>
  <dd>
    {{ page.proiecte }}
  </dd>

  {% if page.proiecte_viitoare != empty %}
  <dt>Proiecte viitoare</dt>
  <dd>{{ page.proiecte_viitoare | default: "–" }}</dd>
  {% endif %}

  <!-- Contact -->
  <dt>Contact</dt>
  <dd>
    {{ page.contact }}
  </dd>

</dl>

<style>

  @keyframes spotlight-right {
    0% { transform: translate(0, 0); }
    100% { transform: translate(500%, 0); }
  }
  @keyframes spotlight-left {
    0% { transform: translate(0, 0); }
    100% { transform: translate(-400%, 0); }
  }
  .leaf-cover {
    position: relative;
  }
  .leaf-cover::before,
  .leaf-cover::after {
    content: '';
    position: absolute;
    z-index: 20;
    display: block;
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    background: rgba(255, 255, 67, 0.8);
    animation-name: spotlight-right;
    animation-duration: 8s;
    animation-easing: cubic-bezier(0.23, 1, 0.32, 1);
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  .leaf-cover::before {
    bottom: 11rem;
    left: -6rem;
  }
  .leaf-cover::after {
    bottom: 6rem;
    right: -20rem;
    animation-name: spotlight-left;
    animation-duration: 7s;
  }
  .leaf-cover-bg {
    display: block;
    position: absolute;
    z-index: 10;
    top: 0;
    bottom: 0;
    left: -100%;
    right: -100%;
    background-size: auto 100%;
    filter: brightness(20%);
  }
  .leaf-cover img {
    position: relative;
    z-index: 12;
  }
  @media (max-width: 1079px) {
    .leaf-cover {
      margin: -4rem -2rem;
      margin-bottom: 3rem;
    }
    .leaf-cover-mask {
      /*height: 32rem;*/
    }
  }
  @media (min-width: 1080px) {
    .leaf-cover {
      margin-top: -4rem;
      overflow: visible;
    }
    .leaf-cover-mask {
      position: relative;
      height: 56rem;
      display: inline-block;
    }
    .leaf-cover img {
      height: 100%;
      width: auto;
      max-width: none;
    }
  }

  /* Title */
  .leaf-title {
    position: relative;
    z-index: 15;
    min-height: 2.4em;
    margin-top: -2.4em;
    line-height: 1.2;
    font-size: 12rem;
    font-weight: 600;
    color: #fff;
  }
  .leaf-title span {
    box-shadow: inset 0 -.68em 0 rgba(0,0,0,.4);
  }
  @media (max-width: 1079px) {
    .leaf-title {
      margin-top: -3em;
      font-size: 6rem;
    }
  }
  @media (min-width: 1080px) {
    .leaf-title {
      padding-left: 20rem;
      text-indent: -20rem;
    }
  }

  .leaf-social-media {
    position: relative;
    z-index: 20;
  }


  .dl dt {
    font-weight: 600;
    text-transform: lowercase;
  }

  .dl a {
    display: inline-block;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
    padding-left: .25em;
    padding-right: .25em;
    text-overflow: ellipsis;
    background: rgba(17, 8, 132, 0.9);
    color: #fff;
      vertical-align: top;
      line-height: 3rem;
  }
  .dl a:hover {
    background: rgba(26, 115, 249, 0.9);
  }

  @media (max-width: 768px) {
    .dl dt {
      display: inline-block;
      background: #ffff43;
      margin-top: 3rem;
      min-width: 10rem;
    }
  }
  @media (min-width: 769px) {
    .dl {
      overflow: hidden;
    }
    .dl dt {
      box-sizing: border-box;
      float: left;
      clear: left;
      width: 20rem;
      text-align: right;
      padding-right: 8rem;
      line-height: 3rem;
      box-shadow: inset -10rem 0 0 #ffff43;
    }
    .dl dd {
      margin-left: 20rem;
    }
    .dl dt,
    .dl dt + dd {
      margin-top: 3rem;
    }
  }



</style>
