---
layout: default
---



{% assign cover = '/assets/photos/' |
   prepend: site.baseurl |
   append: page.foto %}
<div class="leaf-cover">
  <div class="leaf-cover-mask" data-bg="{{ cover }}">
    <span class="leaf-cover-bg"
          style="background-image: url('{{ cover }}')"></span>
    <img src="{{ cover }}">
  </div>
</div>

<h1 class="leaf-title">
  <span>{{ page.denumire }}</span>
</h1>

<div class="leaf-social-media">
{% for media in page.social-media %}
  {% assign url = media.value %}
  {% unless media.value contains 'http' or
            media.value contains 'www.' %}
    {% assign url = media.value | prepend:'https://' %}
  {% endunless %}

  <a href="{{ url }}" rel="external">
    {% if media.type == 'facebook' %}
      <img src="{{ site.baseurl }}/assets/icon-facebook@2x.png"
           alt="Pictogramă Facebook"
           width="90" height="90" />
    {% elsif media.type == 'website' %}
      <img src="{{ site.baseurl }}/assets/icon-www@2x.png"
           alt="Pictogramă pagină web"
           width="90" height="90" />
    {% else %}
    {% endif %}
  </a>
{% endfor %}
</div>

<dl class="dl">
  <dt>Descriere</dt>
  <dd>
    {{ page.descriere }}
  </dd>

  <dt>Proiecte</dt>
  <dd>
    {{ page.proiecte }}
  </dd>

  {% if page.proiecte_viitoare != empty %}
  <dt>Proiecte viitoare</dt>
  <dd>{{ page.proiecte_viitoare | default: "–" }}</dd>
  {% endif %}

  <!-- Contact -->
  <dt>Contact</dt>
  <dd>
    {{ page.contact }}
  </dd>

</dl>
