---
layout: default
breadcrumbs:
  Home: "/"
  Azi: "/azi/"
  Spectacole: "../"
---

{% include header-default.html cover=page.foto_afis %}

<div class="paragraph-columns">
  <p>{{ page.descriere}}</p>
</div>

<dl class="dl">
  {% if page.trailer != empty %}
  <dt>Trailer</dt>
  <dd>
      <a href="{{ page.trailer }}">{{ page.trailer }}</a>
  </dd>
  {% endif %}

  {% if page.an != empty %}
  <dt>An</dt>
  <dd>
    {{ page.an }}
  </dd>
  {% endif %}

  {% if page.durata != empty %}
  <dt>Durata</dt>
  <dd>
    {{ page.durata }}
  </dd>
  {% endif %}

  {% if page.regizor != empty %}
  <dt>Regizor</dt>
  <dd>
    {{ page.regizor }}
  </dd>
  {% endif %}

  {% if page.echipa != empty %}
  <dt>Echipa</dt>
  <dd>
    {{ page.echipa }}
  </dd>
  {% endif %}

  {% if page.distributie != empty %}
  <dt>Distribuție</dt>
  <dd>
    {{ page.distributie }}
  </dd>
  {% endif %}

  {% if page.producatori != empty %}
  <dt>Producători</dt>
  <dd>
    {{ page.producatori }}
  </dd>
  {% endif %}

  {% if page.date_reprezentatii != empty %}
  <dt>Reprezentații viitoare</dt>
  <dd>{{ page.date_reprezentatii | default: "–" }}</dd>
  {% endif %}

</dl>
